.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    max-width: 1240px;
    margin: 0 auto;

    @media screen and (max-width: 480px) {
        padding: 10px;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .photo {
        width: 100%;
        height: 35vh;
        object-fit: cover;
        border-radius: 40px;
        margin: 0 auto;

        @media screen and (max-width: 480px) {
            height: 50%;
        }

    }


    .card-banner {
        height: fit-content;

        @media screen and (max-width: 480px) {
            margin-bottom: 21.5px;
            padding: 5px;
        }

        @media screen and (max-width: 768px) {
            margin: 0 auto;
            width: 90%;
        }

        .card-logement {
            font-display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 15px;

            @media screen and (max-width: 480px) {
                padding-top: 0;
            }
        }


        .logement-name {
            color: $color-1;

            h1 {
                font-weight: 400;

                @media screen and (max-width: 480px) {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }

        .card-logement-toPart {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            @media screen and (max-width: 480px) {
                flex-direction: column;
            }
        }

        .card-logement-partTo {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            @media screen and (max-width: 480px) {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }

        p {
            margin-top: 10px;
            color: $color-1;

            @media screen and (max-width: 480px) {
                margin-top: 5px;
                font-size: 14px;
            }
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;

            @media screen and (max-width: 480px) {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }

        .tag-container {
            margin-right: 5px;
        }

        .tag {
            background-color: $color-1;
            padding: 5px 10px;
            border-radius: 10px;
            color: $white;

            @media screen and (max-width: 480px) {
                font-size: 12px;
                border-radius: 5px;
                padding: 3px 15px;
            }
        }

        .rating {
            font-size: 32px;
            color: $color-2;
            font-style: normal;

            @media screen and (max-width: 480px) {
                font-size: 22px;
            }

            .star-rating {
                font-style: normal;
            }


            .star-rating.filled {
                color: $color-1;
                font-style: normal;
            }
        }
    }

    .host-infos {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .host-name {
            color: $color-1;
            font-weight: 500;
            font-size: 20px;
            width: 50%;
            margin-right: -10px;

            @media screen and (max-width: 480px) {
                font-size: 14px;
            }
        }

        .host {
            border-radius: 50%;
            width: 5rem;

            @media screen and (max-width: 480px) {
                width: 3rem;
            }
        }
    }

    .card-description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }

        @media screen and (max-width: 480px) {
            grid-template-columns: 1fr;
            gap: 15px;
            margin-top: 0;

        }
    }

    .AccordionLogement {
        width: 100%;
        z-index: 1;
        margin: 0;
    }
}