@font-face {
    font-family: 'font-1';
    src: url(../assets/font/Montserrat-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #FF6060;
$color-2: #DCDCDC;
$color-3: #F6F6F6;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin columnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: $font-1;
    height: 100%;
}

li {
    list-style-type: none;
}