.banner {
    @include verticalCenter;
    width: 90%;
    height: 210px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    filter: brightness(70%);
    object-fit: cover
}

span {
    @include verticalCenter;
    position: relative;
    bottom: 125px;
    color: $white;
    font-size: 48px;

}


.housing-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    height: 829px;
    background-color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.card {
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer;

    &-img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(70%);

    }

    h3 {
        position: absolute;
        text-align: center;
        color: $white;
        margin: 0;
        opacity: 1;
        transition: opacity 0.3s ease;
        bottom: 50px;
        z-index: 100;
        width: 90%;
    }
}