.banner {
    @include verticalCenter;
    position: relative;
    width: 90%;
    height: 210px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    filter: brightness(70%);
    object-fit: cover;
}

.homeText {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 48px;

    @media screen and (max-width: 768px) {
        top: 25%;
        left: 40%;
        font-size: 40px;
        width: 75%;
        padding: 40px;
    }

    @media screen and (max-width: 450px) {
        top: 25%;
        left: 40%;
        font-size: 30px;
    }
}

.housing-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    height: 829px;
    background-color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

    @media screen and (max-width: 450px) {
        grid-template-columns: 1fr;
    }
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    cursor: pointer;

    &-img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(70%);
    }

    h3 {
        position: absolute;
        text-align: center;
        color: $white;
        margin: 0;
        opacity: 1;
        transition: opacity 0.3s ease;
        bottom: 50px;
        z-index: 100;
        width: 90%;
    }
}