.navigation {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;


    ul {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;


    }

    li {
        color: $color-1;
        padding: 10px;
    }

    a {
        text-decoration: none;
    }

    .nav-active {
        position: relative;
        border-bottom: solid 1px $color-1;
    }
}