.navigation {
    margin-top: 30px;

    ul {
        display: flex;
        justify-content: flex-end;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        padding: 10px;
        color: $color-1;

        &.nav-active {
            position: relative;

            &::after {
                content: "";
                height: 1px;
                width: 0;
                background: $color-1;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                animation: anim 0.1s ease forwards;

                @keyframes anim {
                    to {
                        width: 100%;
                    }
                }
            }
        }
    }
}