.navigation {
    ul {
        display: flex;
        justify-content: flex-end;
        margin: 30px;
        max-width: 1440px;

        a {
            text-decoration: none;
            padding: 10px;

            li {
                color: $color-1;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    color: $color-1;
                }
            }
        }

        .nav-active {
            position: relative;

            &::after {
                content: "";
                height: 1px;
                width: 0;
                background: $color-1;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                -webkit-animation: anim 0.1s ease forwards;
                animation: anim 0.1s ease forwards; // 

                @-webkit-keyframes anim {
                    to {
                        width: 100%;
                    }
                }

                @keyframes anim {
                    to {
                        width: 100%;
                    }
                }
            }
        }
    }
}