.Error404 {
    @include column;
    padding-bottom: 144px;

    .erreur {
        color: $color-1;
        font-size: 100px;
        margin-top: 100px;

        @media screen and (max-width: 450px) {
            font-size: 70px;
        }

        &Text {
            @include verticalCenter;
            text-align: center;
            color: $color-1;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 100px;
        }
    }

    .lienRetour {
        @include verticalCenter;

        a {
            color: $color-1;
        }
    }
}