.quality {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (max-width: 768px) {
        margin-top: 90px;
    }

    @media screen and (max-width: 480px) {
        margin-top: 50px;

    }
}

.accordion {
    margin: 10px 0;
    color: $white;
    width: 80%;
    margin: auto;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        width: 90%;
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 12px;
        cursor: pointer;
        background-color: $color-1;
        border: none;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
        z-index: 1;

        @media screen and (max-width: 768px) {
            padding: 15px;
            gap: 0;
        }

        @media screen and (max-width: 480px) {
            margin-bottom: 0;
            padding: 10px;
        }

        h2 {
            margin: 0;

            @media screen and (max-width: 1024px) {
                font-weight: 400;

            }

            @media screen and (max-width: 480px) {
                font-size: 16px;
            }
        }

        .fa-chevron-down {
            transition: transform 0.5s ease-in-out;
        }

        .fa-rotate-180 {
            transform: rotate(180deg);
        }
    }

    .content {
        max-height: 0;
        overflow: hidden;
        padding: 0 10px;
        border-radius: 5px;
        background-color: $color-3;
        color: $color-1;
        opacity: 0;

        &.opening {
            display: flex;
            align-items: center;
            padding: 15px;
            max-height: fit-content;
            opacity: 1;
            border-radius: 10px;
            transform: translateY(0%);
            transition: all 0.7s ease-in-out;
        }

        &.closing {
            max-height: 0;
            opacity: 0;
            transform: translateY(-100%);
            transition: all 1s ease-out;
        }
    }
}