.accordion {
    margin: 10px 0;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    color: $white;

    .quality {
        height: 33vh;
        padding: 10px;
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        background-color: $color-1;
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
        z-index: 1;

        h2 {
            margin: 0;
        }

        .fa-chevron-down {
            transition: transform 0.5s ease-in-out;
        }

        .fa-rotate-180 {
            transform: rotate(180deg);
        }
    }


    $hauteurContenu: 200px;
    $tempsAnimation: 0.1s;

    .content {
        max-height: 0;
        overflow: hidden;
        padding: 0 10px;
        border-radius: 5px;
        background-color: $color-2;
        color: $color-1;
        opacity: 0;
        transform: translateY(-50%);
        transition: max-height $tempsAnimation ease-in-out, opacity $tempsAnimation ease-in-out, transform $tempsAnimation ease-in-out, visibility 0s $tempsAnimation;
        transform-origin: top;
        z-index: 0;

        &.opening {
            display: flex;
            align-items: center;
            min-height: 80px;
            max-height: $hauteurContenu;
            opacity: 1;
            margin-top: -5px;
            transform: translateY(0%);
            transition: max-height $tempsAnimation ease-in-out, opacity $tempsAnimation ease-in-out, transform $tempsAnimation ease-in-out;
        }

        &.closing {
            max-height: 0;
            opacity: 0;
            transform: translateY(-100%);
            transition: max-height $tempsAnimation ease-in-out, opacity $tempsAnimation ease-in-out, transform $tempsAnimation ease-in-out;
        }
    }
}